<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestion de comentarios</title>
        <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/miEstilo.css') }}"
        />
    </head>
        <body>
            <img
                src="{{ url_for('static', filename='images/logo.jpg') }}"
                name="logo"
                id="logo"
                alt="logo"
                />
            <h1>ADMIN MENU</h1>

            <span style="border-image: initial">Usuarios</span>

            <form 
            action="/Usuario" 
            method="GET" 
            name="formUsuario"
        >
            <div>
                <label for="nombre">Ver usuario</label> 
                
                <input type="text" name="usuario" id="usuario" />
            </div>

            <br><input type="submit" value="Agregar " class="boton" />
            <br><input type="submit" value="Editar " class="boton" />
            <br><input type="submit" value="Eliminar " class="boton" />

            </form>

            <span style="border-image: initial">Productos</span>

            <form 
            action="/Usuario" 
            method="GET" 
            name="formProductos"
        >
            <div>
                <label for="nombre">Ver productos</label> 
                
                <input type="text" name="productos" id="productos" />
            </div>

            <br><input type="submit" value="Agregar " class="boton" />
            <br><input type="submit" value="Editar " class="boton" />
            <br><input type="submit" value="Eliminar " class="boton" />

            </form>

            <br />

            <span style="border-image: initial">Ventas</span>

            <form 
            action="/Usuario" 
            method="GET" 
            name="formVentas"
        >
            <div>
                <label for="nombre">Ver productos</label> 
                
                <input type="text" name="productos" id="productos" />
            </div>

            <br><input type="submit" value="Ventas por producto" class="boton" />

            <div>
                <label for="nombre">Periodo</label> 
                
                <input type="text" name="Periodo" id="Periodo" />
            </div>

            <br><input type="submit" value="Ventas por Periodo" class="boton" />
            

            </form>
        </body>
</html>