<!DOCTYPE html>
    <html lang="en">
        <head>
            <center>
            <meta charset="UTF-8">
            <img align="center" src="C:\Users\Rafa\Documents\Rafita\MINTIC 2022\Ciclo 3\Proyecto\static\images\logo.jpg"/>
            <title>Swarovski - Productos</title>
            <h1 font="Serif" align="center"><strong>Productos</strong></h1>
            </center>
        </head>
        <body>
            <nav align="center">
                Collares
                Pendientes
                Anillos
            </nav>
            <br/>
            <table>
                <td><img border=1 width=200px lenght=200px src="https://asset.swarovski.com/images/$size_1450/t_swa103/b_rgb:ffffff,c_scale,dpr_2.0,f_auto,w_700/5600035_png/gargantilla-harmonia--cristales-flotantes-de-gran-tama%C3%B1o--blanco--combinaci%C3%B3n-de-acabados-met%C3%A1licos-swarovski-5600035.png"/></td>
                <td><img border=1 width=200px lenght=200px src="https://cdn.pngsumo.com/add-vector-icon-transparent-png-clipart-free-download-ywd-add-icon-png-1600_1600.png"/></td>
            </table>
        </body>
    </html>