<!DOCTYPE html>
    <html lang="en">
        <head>
            <center>
            <title>Swarovski - Gargantilla Harmonia</title>
            <img lenght= 500px width= 300px align="center" src="C:\Users\Rafa\Documents\Rafita\MINTIC 2022\Ciclo 3\Proyecto\static\images\logo.jpg"/>
            </center>
        </head>
        <body>
            <center>
            <nav align="center">
                Collares
                Pendientes
                Anillos
            </nav>
            <br/>
            <h3 align="center"><strong>Gargantilla Harmonia</strong></h3>
            <img align= center width=500px lenght=500px src="https://asset.swarovski.com/images/$size_1450/t_swa103/b_rgb:ffffff,c_scale,dpr_2.0,f_auto,w_700/5600035_png/gargantilla-harmonia--cristales-flotantes-de-gran-tama%C3%B1o--blanco--combinaci%C3%B3n-de-acabados-met%C3%A1licos-swarovski-5600035.png"/>
            <form align="center">Califica tu producto<br/>
                Nombre: <input type="text" name="nombre" method="POST"/><br/><br/>
                Usuario: <input type="text" name="username" method="POST"/><br/><br/>
                Calificación:<br/> 
                1 <input type="radio" name="grade" method="POST"/>
                2 <input type="radio" name="grade" method="POST"/>
                3 <input type="radio" name="grade" method="POST"/>
                4 <input type="radio" name="grade" method="POST"/>
                5 <input type="radio" name="grade" method="POST"/>
                <br/><br/>
                Opinión: <textarea type="textbox" name="opinion" method="POST"></textarea>
            </form>

            </center>
        </body>