<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestion de comentarios</title>
        <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/miEstilo.css') }}"
        />
    </head>
        <body>
            <img
                src="{{ url_for('static', filename='images/logo.jpg') }}"
                name="logo"
                id="logo"
                alt="logo"
                />

            <form 
            action="/inicio" 
            method="GET" 
            name="formComentario"
        >
            <div>
                <label for="nombre">Nombre del producto</label>
                <br>
                <input type="text" name="nombre" id="nombre" />
            </div>

            <img
                src="{{ url_for('static', filename='images/image.png') }}"
                name="image"
                id="image"
                alt="image"
            />

            <div>
                <label for="descripcion">Comentarios</label>
                <br>
                <input type="text" name="descripcion" id="descripcion" size="50" style="height:100px;" />
            </div>
            <br>
            <div>
                <label for="comentario"></label>
                <br>
                <input type="text" name="comentario" id="comentario" size="50" />
            </div>
            <br>
            <input type="submit" value="Comentar " class="boton" />

        </form>

        </body>
</html>