<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/miestilo.css') }}"
    />
</head>
<body>
    <img
        src="{{ url_for('static', filename='images/logo.jpg') }}"
        name="logo"
        id="logo"
        alt="logo"
        />
    <form name="loginForm" action="/register" method="POST">
        <div>
          <label for="correo">Correo</label>
          <input type="text" name="correo" id="correo" />
        </div>
        <br>
        <div>
          <label for="password">Contraseña</label>
          <input type="password" name="password" id="password" />
        </div>
        <p>
            <input type="checkbox" id="condiciones" name="condiciones"/> Recordar mi información de inicio de sesión
        </p>
        <input type="submit" value="Iniciar Sesion" class="boton" formaction="/inicio"/>
        <br>
        <input type="submit" value="Crear cuenta" class="boton" />
      </form>
</body>
</html>