<!DOCTYPE html>

<html>
    <head>
        <title>
            Nuevo Producto
        </title>
        <meta charset="utf-8"/>
        <meta
            name="description"
        />
        <link rel="stylesheet" type="text/css" href="{{  url_for('static',  filename='css/miestilo.css')  }}"/>
    </head>
    <body>
        <img
        src="{{ url_for('static', filename='images/logo.jpg') }}"
        name="logo1"
        id="logo1"
        alt="logo"
        />
        <form 
            action="/inicio" 
            method="GET" 
            name="formRegistro"
        >
            <div>
                <label for="nombre">Nombre del producto</label>
                <br>
                <input type="text" name="nombre" id="nombre" />
            </div>

            <img
                src="{{ url_for('static', filename='images/AgregarImagen.png') }}"
                name="agregarimagen"
                id="agregarimagen"
                alt="agregarimagen"
            />

            <div>
                <label for="descripcion">Descripción del producto</label>
                <br>
                <input type="text" name="descripcion" id="descripcion" size="50" style="height:100px;" />
            </div>
            <br>
            <div>
                <label for="precio">Precio</label>
                <br>
                <input type="text" name="precio" id="precio" />
            </div>
            <br>
            <input type="submit" value="Crear Producto" class="boton" />

        </form>
    </body>
</html>