<!DOCTYPE html>

<html lang="en">
    <head>
      <center>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wishlist</title>
        <link
          rel="stylesheet"
          href="{{ url_for('static', filename='css/miestilo.css') }}"
        />
      </center>
    </head>

    <body>
      <center>
        <meta charset="UTF-8">
        <img
        src="{{ url_for('static', filename='images/logo.jpg') }}"
        name="logo"
        id="logo"
        alt="logo"
        />
        <h1 font="Serif" align="center"><strong>Wishlist</strong></h1>
        <br> 
        <nav align="center">
        <em><strong>¿Deseas tener todos tus productos favoritos contigo?</strong></em>
      </nav>
      <br/>
      <input type="submit" value="Crear Cuenta" class="boton" formaction="/inicio" />
            <br>
            <br>
            <h4><em><strong>¿Ya tienes una cuenta?</strong></em></h4>
            <input type="submit" value="Login" class="boton" />
          </center>
          <br>
          <br>
          <h5><font color="gray">Su lista de deseos se encuentra vacía.</font></h5>
          <br>
          <a href=  <h5> <font color="blue">Volver al inicio.</font></h5>
          
    </body>
</html>